Repository ERuvinga/veuilleurs-du-web-test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{js,ts}": "eslint",
    "./src/**/*.{js,jsx,md,html,css}": "prettier --write"
}

fix eslint error
  src/App.js
  src/Style/Error.css
  src/index.css
  src/index.js
  src/pages/Error/index.jsx
  src/pages/form/index.jsx
  src/pages/main/index.jsx
  src/state/datasUser.js
Due: eslint, prettier --write

test eslint staged
  src/state/datasUser.js
Due: eslint, prettier --write

eslint fix warning
  src/state/datasUser.js
Due: eslint, prettier --write

husky, lint-staged finish Config
  .husky/pre-commit
  .lintstagedrc
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
  public/index.html
Due: none

styling first part of formPage
  public/index.html
  src/Style/styleFormPage.css
  src/pages/form/index.jsx
Due: prettier --write

styling second part of formPage
  .eslintrc
  src/Components/InputField/index.jsx
  src/Components/SendBtn/index.jsx
  src/Style/components/InputFields.css
  src/Style/components/sendingButton.css
  src/Style/styleFormPage.css
  src/pages/form/index.jsx
  src/state/datasUser.js
Due: eslint, prettier --write

styling second part of formPage
  src/Components/InputField/index.jsx
Due: prettier --write

+ responsive design to formularPage
  src/Style/components/InputFields.css
  src/Style/components/sendingButton.css
  src/Style/styleFormPage.css
  src/pages/form/index.jsx
Due: prettier --write

finish styling form page
  src/Style/components/InputFields.css
  src/Style/styleFormPage.css
  src/pages/form/index.jsx
Due: prettier --write

recevied all datas of user
  src/Components/InputField/index.jsx
  src/Components/SendBtn/index.jsx
  src/Style/components/InputFields.css
  src/Style/components/sendingButton.css
  src/index.css
  src/state/datasUser.js
Due: eslint, prettier --write

fixing error eslint
  src/Components/InputField/index.jsx
  src/Components/SendBtn/index.jsx
Due: prettier --write

update App, redirect to main page when user provide all datas
  src/Components/InputField/index.jsx
  src/Components/SendBtn/index.jsx
  src/Style/components/InputFields.css
  src/state/datasUser.js
Due: eslint, prettier --write

adding and styling Loading component, save datas user in sessionStorage
  src/Components/Loading/index.jsx
  src/Components/SendBtn/index.jsx
  src/Style/components/loading.css
  src/pages/main/index.jsx
Due: prettier --write

fix issues to reset datasOfUser when refresh formPAge
  src/Components/InputField/index.jsx
  src/Style/styleMainPage.css
  src/index.css
  src/lib/sessions.js
  src/pages/form/index.jsx
  src/pages/main/index.jsx
Due: eslint, prettier --write

finish App
  src/Components/Card/index.jsx
  src/Style/styleMainPage.css
  src/index.css
  src/pages/main/index.jsx
Due: prettier --write

update style
  src/Style/styleMainPage.css
Due: prettier --write
